In [1]:
import sqlite3

In [2]:
path = ''
db_name = 'test.db'
conn = sqlite3.connect(path + db_name)
conn.close()

In [3]:
path = ''
db_name = 'car.db'
try:
    conn = sqlite3.connect(path + db_name)
    cur = conn.cursor()
    sql = 'CREATE TABLE cars (id INT, name TEXT, price REAL);'
    cur.execute(sql)
except sqlite3.Error as e:
    print("エラーが発生しました:", e)
finally:
    conn.close()

In [7]:
path = ''
db_name = 'car.db'
try:
    conn = sqlite3.connect(path + db_name)
    cur = conn.cursor()
    sql = "INSERT INTO cars (id, name, price) VALUES (1, '370z', 7000000);"
    cur.execute(sql)
    conn.commit()
except sqlite3.Error as e:
    print('エラーが発生しました:', e)
finally:
    conn.close()

In [8]:
path = ''
db_name = 'car.db'
try:
    conn = sqlite3.connect(path + db_name)
    cur = conn.cursor()
    sql = "INSERT INTO cars (id, name, price) VALUES (?, ?, ?);"
    cars = [
        (2, 'カレラ', 15500000),
        (3, 'GRスープラ', 8000000),
        (4, 'シビック Type-R', 5000000)
    ]
    cur.executemany(sql, cars)
    conn.commit()
except sqlite3.Error as e:
    print('エラーが発生しました:', e)
finally:
    conn.close()

In [9]:
path = ''
db_name = 'car.db'
try:
    conn = sqlite3.connect(path + db_name)
    cur = conn.cursor()
    sql = "SELECT * FROM cars;"
    cur.execute(sql)
    conn.commit()
except sqlite3.Error as e:
    print('エラーが発生しました:', e)
else:
    for row in cur:
        id, name, price = row
        print(id, name, price)
finally:
    conn.close()

1 370z 7000000.0
1 370z 7000000.0
1 370z 7000000.0
2 カレラ 15500000.0
3 GRスープラ 8000000.0
4 シビック Type-R 5000000.0

In [10]:
path = ''
db_name = 'car.db'
try:
    conn = sqlite3.connect(path + db_name)
    cur = conn.cursor()
    sql = "DELETE FROM cars WHERE id = 1;"
    cur.execute(sql)
    conn.commit()
except sqlite3.Error as e:
    print('エラーが発生しました:', e)
finally:
    conn.close()

In [11]:
path = ''
db_name = 'car.db'
try:
    conn = sqlite3.connect(path + db_name)
    cur = conn.cursor()
    sql = "UPDATE cars SET price = ? WHERE id = ?;"
    cur.execute(sql, (5000000, 2))
    conn.commit()
except sqlite3.Error as e:
    print('エラーが発生しました:', e)
finally:
    conn.close()